/*Element styles  */
h1 {
  text-align: center;
}

img {
  border: solid 10px #000;
}

h3 {
  text-align: center;
}

 li {
   margin: 0 60px 0 60px;
 }


/* Class Styling */

.decor {
  border-bottom: 5px solid #000;
  margin: 30px 510px 30px 510px;
}

.col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.description {
  padding-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.package-photo {
  width: 100%;
  height: auto;
}

.no-dot {
  list-style-type: none;
}

.middle-list {
  text-align: center;
  list-style-position: inside;
  margin-top: 50px;
  margin-bottom: auto;
  list-style-type: none;
}

.footP {
  text-align: center;
  margin: auto;
  padding: 25px 0 5px 0;
}
/* ID styling */


#blockquotes {
  text-align: center;
}

#center-list {
  margin-top: 20px;
  margin-bottom: -30px;
}

